.main {
  z-index: 0;
  width: 100%;
  background-color: #fafafa;
  position: relative;

  &__wrapper {
    display: flex;
  }

  &__content {
    flex: 0 0 100%;

  }
}

.benefits {
  flex: 0 0 100%;
  &__body {
    width: 65%;
    @media(max-width: 992px) {
      width: 60%;
    }

    @media(max-width: 768px) {
      width: 55%;
    }
  }

  &__content {
    margin-bottom: 40px;
  }

  &__title {
    margin: 0;
    height: 100%;
    font-family: Exo, sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0.8px;
    padding-left: 0;
    @media(max-width: 992px) {
      font-size: 39px;
      line-height: 54px;
      margin-top: 62px;
    }
    @media(max-width: 768px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

}

.points {
  width: 65%;
  @media(max-width: 992px) {
    width: 60%;
  }

  @media(max-width: 768px) {
    width: 55%;
  }
  @media (max-width: 510px) {
    width: 100%;
  }

  &__shedle {
    padding-left: 0;
  }
}

.point {
  display: flex;
  align-items: flex-start;
  gap: 40px;

  &__text {
    font-family: Exo, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.73px;
    padding: 0 10px;
  }
}

.pictures {
  z-index: -1;
  flex: 0 0 35%;
  transform: translateX(-100%);
  position: relative;

  @media(max-width: 992px) {
    flex: 0 0 40%;
  }

  @media(max-width: 768px) {
    flex: 0 0 44%;
  }

  &__image {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-height: 912px;
    object-fit: cover;
  }

  &__background {
    z-index: 0;
    max-width: 875px;
    max-height: 775px;
    position: absolute;
    left: -44%;
    bottom: -40%;
  }
}
